Repository fga-eps-mds/2018.2-Kalkuli, pull requests merged in 2018-11, with the labels that each got.

#179 Solve #172 Planejamento Sprint 10
  .travis.yml
  docs/Sprint-10.md
  docs/Sprint-8-Resultados.md
  docs/Sprint-8.md
  docs/assets/burndown-S8.png
  docs/assets/modeloMaturidadeDevOps.png
  docs/assets/quadro-de-pareamento-s10.png
  docs/assets/quadro-de-pareamento-s9.png
  docs/assets/velocity-S8.png
  docs/modeloMaturidadeDevops.md
  website/.gitignore
  website/i18n/en.json
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead

#181 Solve #173 resultadosDaSprint9
  docs/Sprint-9-Resultados.md
  docs/assets/BurndowndeRiscos-S9.png
  docs/assets/Conhecimento-EPS-S9.png
  docs/assets/Conhecimento-S9.png
  docs/assets/Retrospectiva-S9.png
  docs/assets/burndown-S9.png
  docs/assets/velocity-S9.png
  website/i18n/en.json
  website/sidebars.json
Labels: Documentation, EPS, MDS, Tech Lead

#197 Solve 183 Resultados Sprint 10
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  docs/Sprint-1-Resultados.md
  docs/Sprint-10-Resultados.md
  docs/Sprint-2-Resultados.md
  docs/Sprint-3-Resultados.md
  docs/Sprint-6-Resultados.md
  docs/Sprint-8-Resultados.md
  docs/Sprint-9-Resultados.md
  docs/assets/BurndowndeRiscos-S10.png
  docs/assets/Conhecimento-EPS-S10.png
  docs/assets/Conhecimento-S10.png
  docs/assets/Retrospectiva-S10.png
  docs/assets/burndown-S10.png
  docs/assets/velocity-S10.png
  docs/assets/velocity-S8.png
  docs/assets/velocity-S9.png
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead

#199 Solve #182 Planejamento Sprint 11
  docs/Sprint-11.md
  docs/assets/quadro-de-pareamento-s11.png
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead

#212 Solve #201 Resultados Sprint 11
  README.md
  docs/Sprint-11-Resultados.md
  docs/assets/BurndowndeRiscos-S11.png
  docs/assets/Conhecimento-EPS-S11.png
  docs/assets/Conhecimento-S11.png
  docs/assets/Retrospectiva-S11.png
  docs/assets/burndown-S11.png
  docs/assets/velocity-S11.png
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead

#215 Solve #208 atualizar guia deploy
  docs/assets/deploy/dashboard.png
  docs/assets/deploy/deployPlace1.png
  docs/assets/deploy/deployPlace2.png
  docs/assets/deploy/deployPlace3.png
  docs/assets/deploy/pipeline.png
  docs/assets/deploy/variaveisHeroku.png
  docs/deploy.md
Labels: DevOps, Documentation, EPS

#216 Solve #200 Planejamento Sprint 12
  README.md
  docs/Sprint-12.md
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead

#226 Solves #222 AtualizarModelodeMaturidade
  docs/modeloMaturidadeDevops.md
Labels: DevOps, Documentation, EPS

#232 Solve #218 Resultados Sprint 12
  README.md
  docs/Sprint-12-Resultados.md
  docs/Sprint-13.md
  docs/assets/BurndowndeRiscos-S12.png
  docs/assets/Conhecimento-EPS-S12.png
  docs/assets/Conhecimento-S12.png
  docs/assets/Retrospectiva-S12.png
  docs/assets/ScrumMasterRoadmap.png
  docs/assets/burndown-S12.png
  docs/assets/velocity-S12.png
  docs/roadmapeps.md
  website/i18n/en.json
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead

#234 Solve #231 Resultados Sprint 13
  README.md
  docs/Sprint-13-Resultados.md
  docs/Sprint-13.md
  docs/assets/CPIxSPI.png
  docs/assets/CVxSV.png
  docs/assets/Conhecimento-EPS-S13.png
  docs/assets/Conhecimento-S13.png
  docs/assets/PVxEV.png
  docs/assets/burndown-S13.png
  docs/assets/velocity-S13.png
  docs/evm.md
  docs/postmortem.md
  website/sidebars.json
Labels: Documentation, EPS, Tech Lead
